body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: 0 auto;
}
.container-fluid.shadow-sm {
    box-shadow: none !important; 
    border-bottom: none !important; 
}

.header-extras .fa-search {
    cursor: pointer;
}

.header-extras .btn-primary {
    background: linear-gradient(45deg, #0077b6, #00b4d8);
    color: white;
    border: none;
    padding-right:20px ;
    margin-top: -60px; 
}

.header-extras .custom-select {
    border: none;
    background-color: #f1f1f1;
    padding: 5px 10px;
    margin-top: -60px; 
}

.hero {
    position: absolute;
    background: url('images/kurwa.png') center/cover; 
    color: white;
    text-align: center;
    height: 80vh; 
    padding-top:40px;
    font-family: 'Work Sans', sans-serif; 
}
.hero-heading{
    margin-top:0;
    font-size: 4rem;

}
.hero .btn-primary{
    margin-top: 40px;
}
.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); 
}

.featured-brands {
    padding: 20px;
    text-align: center;
    transition: border 0.3s;
    background: transparent; 
    font-family: 'Work Sans', sans-serif; 
}
.hero .container {
    position: relative;
    z-index: 1;
    padding-top: 100px; 
}
.featured-services {
    background-color: #f0f0f0; 
    padding: 20px;
    text-align: center;
    transition: background 0.3s;
   
}
.featured-services .service {
    padding: 20px;
    transition: border 0.3s;
    border: 2px solid transparent;
    margin: 0 10px;
}
.featured-brands .service:nth-child(1) {
    width: 400px; 
    height: 200px; 
    object-fit: cover;
}

.featured-brands .brands-heading {
    font-family: 'Work Sans', sans-serif; 
    font-size: 2rem; 
    
    color: white; 
    margin-top: 20px; 
}

.featured-brands h3 {
    color: white; 
}

.featured-brands p {
    color: white; 
}
.featured-brands {
    padding: 20px;
    text-align: center;
    transition: border 0.3s;
    object-fit: cover; 

    font-size: 1.1rem;
}
.featured-brands .service {
    padding: 20px;
    transition: border 0.3s;
    border: 2px solid transparent;
    border-radius: 15px;
}

.featured-brands .service:hover {
    background: transparent; 
}
.featured-brands .service-img {
    width: 180px; 
    height: 180px; 
    margin-top: -100px;
    border-radius: 15%; 
    object-fit: cover; 
    box-shadow: 0 8px 12px rgba(0, 0, 0, 8); 
    z-index: 1;
    
}
.featured-brands .service-img:hover {
    transform: scale(1.3); 
}
.photo-text-section {
    width: 100%;
    background-color: #f8f9fa; 
}

.photo-text-section .container {
    display: flex;
    align-items: flex-start; 
    justify-content: center;
}

.photo-text-section .photo-container {
    flex: 1;
}

.photo-text-section .text-container {
    flex: 1;
    margin-left: 20px; 
}
.photo-text-section .text-container h2 {
    margin-top: -200px; 
}
.photo-text-section .img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 10px; 
    padding-left: 20px;;
}

.photo-text-section2 {
    width: 100%;
    background-color: #f8f9fa; 
}

.photo-text-section2 .container {
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

.photo-text-section2 .photo-container {
    flex: 1;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.photo-text-section2 .text-container {
    flex: 1;
    margin-left: 20px; 
    margin-top: 160px; 
}
.photo-text-section2 .text-container h2 {
    margin-top: -200px; 
}
.photo-text-section2 .img-fluid {
    max-width: 100%;
    max-height: 100%;
    padding-top: -50px;
    border-radius: 10px; 
    padding-left: 20px;;
}
.photo-text-section2 ul {
    padding-left: 10px; 
    list-style-type: disc; 
}

.photo-text-section2 ul li {
    margin-bottom: 10px; 
}
.latest-insights .insights-slider {

}

.insight-tile {
    background: #fff;
    padding: 20px;
    margin: 10px;
    text-align: center;
    border: 1px solid #ddd;
    transition: background 0.3s;
}

.insight-tile:hover {
    background: #f9f9f9;
}

.insight-tile h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.insight-tile p {
    font-size: 1em;
    margin-bottom: 20px;
}

.insight-tile .btn {
    background: #0077b6;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s;
}

.insight-tile .btn:hover {
    background: #005f8a;
}


.case-studies .tabs .btn {
    margin: 0 10px;
}

footer {

    color: white;
    background: linear-gradient(45deg, 
    #333333 0%, 
    #101C40 18%, 
    #102A6A 35%, 
    #10121A 60%, 
    #1B0F40 80%, 
    #A020F0 100%
);


}

.footer-informations {
    padding-top: 20px; /* Adjust padding to lower the content */
    text-align: center; /* Center the content horizontally */
}
.footer-informationsComp {
    padding-top: 20px; /* Adjust padding to lower the content */
    text-align: left; /* Center the content horizontally */
}

.footer-informations h4 {
    margin-bottom: 15px; /* Adjust margin as needed */
}

.footer-informations ul {
    padding: 0;
    list-style: none;
}

.footer-informations ul li {
    margin-bottom: 10px; /* Adjust margin as needed */
}

footer .footer-column ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

footer .footer-column ul li a:hover {
    color: #0077b6;
}

footer .social-icons a {
    color: white;
    transition: color 0.3s;
}

footer .social-icons a:hover {
    color: #0077b6;
}

footer .cookies-consent button {
    background: #0077b6;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .header-extras .navbar-toggler {
        display: block;
    }
    .main-nav ul {
        display: none;
    }
    .main-nav ul.show {
        display: block;
    }
    .footer-columns {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .hero {
        height: auto;
        padding: 50px 20px;
    }
    .featured-services .service {
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 480px) {
    .header-extras {
        flex-direction: column;
        align-items: flex-start;
    }
    .header-extras .btn-primary {
        width: 100%;
        margin-bottom: 10px;
    }
    .header-extras .custom-select {
        width: 100%;
    }
    .header-extras .fa-search {
        margin-top: 20px; 
    }
    .header-extras .custom-select{
        margin-top: 20px;
    }

}
.nav {
    display: flex;
    height: 100%; 
    padding: 20px 30px;
    flex-direction: row; 
}
.nav-link {
    color: #ffffff; 
    font-size: 2.5rem;
    display: flex;
    align-items: center; 
    height: 100%; 
    padding: 0 15px; /* Add padding to nav links */
}

.nav-link:hover {
    color: #ffcc00; 
}
.logo img {
    margin-left: 30px;
    margin-top: -30px;
    padding-left: 20px

}
.header-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    position: fixed !important; 
    top: 30; 
    left: 0;
    width: 100%; 
    z-index: 1000;
    background-color: rgba(0, 5, 22, 0.5);
    padding: 5px 30px; /* Reduce padding to decrease height */
    height: 80px; /* Set the desired height */
   
}

.header-container .logo {
    margin: 0 60px; /* Adjust margin between nav items */
}

.header-container nav {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    height: 100%; 
    margin-left: auto; 
}
.nav-item {
    margin: 0 60px; /* Adjust margin between nav items */
    padding: 10px 0; /* Adjust padding to control size */
    font-size: 1.2rem; /* Adjust font size */
    
}
.nav-font{
    font-family: 'Work Sans', sans-serif; 
    font-size: 1.5rem;
}
.featured-services .custom-icon {
    width: 70%; 
    height: auto;
    border-radius: 15px; 
    object-fit: cover; 
    box-shadow: 0 8px 12px rgba(0, 0, 0, 8); 
    transition: transform 0.3s ease; 
}
.featured-services .custom-icon:hover {
    transform: scale(1.2); 
}
.cta-button.top-right {
    background: #00FFFF; /* Electric Cyan */
    color: black; /* White text */
    position:fixed;
    right:60px;
    top:20px;
    padding: 14px 22px;
    border-radius: 12px; /* Rounded corners */
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 2px solid rgba(0, 255, 255, 0.7); /* Subtle glow border */
    box-shadow: 0px 0px 8px rgba(0, 255, 255, 0.7); /* Neon glow */

    z-index: 1001; /* Ensure it is above other elements */
}
.cta-button:hover {
    background: #A020F0; /* Neon Purple on hover */
    color: white; /* White text */
    box-shadow: 0px 0px 12px rgba(160, 32, 240, 1); /* Stronger glow effect */
    transform: scale(1.05); /* Slight scale effect */
}
 .btn-consultation {
    background: #00FFFF; /* Electric Cyan */
    color: black; /* White text */
    padding: 14px 22px;
    border-radius: 12px; /* Rounded corners */
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 2px solid rgba(0, 255, 255, 0.7); /* Subtle glow border */
    box-shadow: 0px 0px 8px rgba(0, 255, 255, 0.7); /* Neon glow */
}
.btn-consultation:hover {
    background: #A020F0; /* Neon Purple on hover */
    color: white; /* White text */
    box-shadow: 0px 0px 12px rgba(160, 32, 240, 1); /* Stronger glow effect */
    transform: scale(1.05); /* Slight scale effect */
}

/* Popup Background */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1002;
}

/* Popup Content Box */
.popup-content {
    background: rgba(16, 18, 26, 0.9); /* Semi-transparent dark navy */
    padding: 30px;
    width: 400px;
    color:white;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 0px 12px #A020F0; /* Neon glow */
    position: relative;
}

.popup-content .close-btn {
    float: right;
    font-size: 24px;
    color: white;

    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select,

.form-check {
    margin-bottom: 10px;
}

.form-check-input {
    margin-right: 10px;
}

.form-check-label {
    display: inline-block;
}
.popup-content input,
.popup-content select,
.popup-content textarea {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background: rgba(25, 25, 34, 0.95); /* Darker input background */
    border: 2px solid #A020F0;
    color: white !important;
    border-radius: 8px;
    font-size: 14px;
    transition: 0.3s;
}
.popup-content input:focus,
.popup-content select:focus,
.popup-content textarea:focus {
    border-color: #00FFFF; /* Electric cyan glow */
    box-shadow: 0px 0px 8px #A020F0;
    color:black !important;
}
.popup-content button {
    background: #A020F0;
    color: white;
    padding: 12px 20px;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 2px solid #A020F0;
    box-shadow: 0px 0px 10px #A020F0;
}
.popup-content button:hover {
    background: #00FFFF; /* Change to your desired hover color */
    color:black;
}
.popup-content .form-check-label {
    color: white; /* Ensure checkbox labels are white */
}

.popup-content select option {
    background: rgba(25, 25, 34, 0.95); /* Darker input background */
    color: white; /* Ensure text color is white */
    border: 2px solid rgba(0, 255, 255, 0.4);
}

.carousel-item .service {
    padding: 10px; /* Reduce padding to bring items closer */
    margin: 0; /* Remove margin to bring items closer */
}
.carousel-item .col-md-2 {
    padding: 0 5px; /* Reduce padding between columns */
}
.cta-section{
    background: linear-gradient(45deg, 
    #333333 0%, 
    #101C40 18%, 
    #102A6A 35%, 
    #10121A 60%, 
    #1B0F40 80%, 
    #A020F0 100%
);

color: white;
padding: 30px 0;
text-align: center;

}